//- extends layouts/main-layout.pug

//- block content
//-     .jumbotron
//-         h1(class="display-4") 404 - Page Not Found
//-         p(class="lead") The Url Entered is Wrong
//-         hr(class="my-4")
//-         p Please go back to Homepage
//-         a.btn.btn-primary.btn-lg(href="/", role="button") Homepage
